@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("minecraft.fr") {
    #content .pageContent {
        background-color: #223742;
    }
    .nodeList .categoryForumNodeInfo,
    .nodeList .forumNodeInfo,
    .nodeList .pageNodeInfo,
    .nodeList .linkNodeInfo {
        background-color: #223742;
    }
    .node.level_2 .nodeInfo {
        border-top: 2px solid #20333D;
    }
    .forum_list .nodeList .nodeList,
    .forum_view .nodeList,
    .category_view .nodeList,
    .watch_forums .nodeList {
        border-color: -moz-use-text-color #20333D #20333D;
        border-width: 0px 0px 0px;
    }
    .sidebar .section .secondaryContent {
        border: 2px solid #2A424D;
    }
    .hasFlexbox .sidebar .visitorPanel .secondaryContent {
        background-color: #1F333D;
    }
    html {
        background-color: #223742;
        overflow-y: scroll !important;
    }
    .node .nodeText .nodeTitle a,
    .subForumList .nodeTitle a {
        /* color:inherit;*/
    }
    .node .unread .nodeText .nodeTitle {
        font-weight: bold;
        color: #ACD2E5;
    }
    body {
        font-size: 13px;
        font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
        color: #78A6BD;
        word-wrap: break-word;
        line-height: 1.27;
    }
    .node .subForumList .unread .nodeTitle {
        font-weight: bold;
        color: #78A6BD;
    }
    .node .unread .nodeIcon.hasGlyph {
        color: #61ACB9;
    }
    .secondaryContent {
        background-color: #223742;
        padding: 8px;
    }
    #SignupButton .inner {
        color: #78A6BD;
        background-color: #395565;
    }
    #taigachat_box {
        background: #304956 none repeat scroll 0% 0%;
    }
    .sidebar .section .primaryContent h3,
    .sidebar .section .secondaryContent h3,
    .profilePage .mast .section.infoBlock h3 {
        color: #61ACB9;
        background-color: #223742;
        border: 0px solid #A54545;
    }
    .sidebar .section .primaryContent h3 a,
    .sidebar .section .secondaryContent h3 a {
        font-family: Lato, Helvetica, sans-serif;
        color: #ACD2E5 !important;
    }
    #taigachat_sidebar h3 blockquote {
        color: #78A6BD;
    }
    .breadcrumb {
        color: rgb(47, 38, 38);
        background-color: #395565;
    }
    .breadcrumb .crust a.crumb {
        color: #ACD2E5;
        background-color: #395565;
        border-bottom: 1px solid #2A424D;
    }
    .breadcrumb .crust .arrow span {
        border-color: transparent #000 transparent #75909E;
        -moz-border-right-colors: #395565;
    }
    .navTabs .navTab.selected .tabLinks {
        background-color: #395565;
    }
    #headerMover #header {
        background: transparent linear-gradient(to bottom, transparent 0px, transparent 100%) repeat scroll 0% 0%;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
    }
    #logoBlock .pageContent {
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
        background: transparent linear-gradient(to bottom, #395565 0px, #395565 100%) repeat scroll 0% 0%;
    }
    .primaryContent {
        background-color: #395565;
        padding: 0px;
    }
    #taigachat_box {
        border: 0px solid #F0F0F0;
        padding: 5px;
    }
    .username .style49 {
        color: #FF3020;
    }
    .primaryContent a {
        color: #ACD2E5 !important;
    }
    #userBar .navTabs {
        background-color: #75909E;
    }
    .uix_slogan {
        color: #75909E;
    }
    .navTabs {
        background-color: rgb(34, 55, 66);
    }
    .sidebar .visitorPanel .username {
        color: #75909E;
    }
    body {
        background: url("https://web.archive.org/web/20140330184831/http://minecraft.fr/forum/styles/minecraftv2/xenforo/fond/BG.png") repeat scroll 0% 0%;
    }
    .Menu .secondaryContent {
        background-color: #395565;
    }
    .navTabs .navTab.selected .navLink {
        color: #1A2634;
        background-color: #395565;
        border: 0px solid #E2E2E2;
    }
    .footer .pageContent {
        background-color: #395565;
        border-width: 0px 0px 0px;
    }
    .taigachat_motd {
        border: 0px solid #FAFAFA;
    }
    #content .pageContent {
        border: 0px solid #E2E2E2;
    }
    .breadcrumb {
        border: 0px solid #E2E2E2;
    }
    .sectionMain {
        background-color: rgb(34, 55, 66);
        border: 0px solid rgb(34, 55, 66);
    }
    .xenOverlay.memberCard .userInfo h3 a,
    .xenOverlay.memberCard .userLinks a {
        color: #61ACB9;
    }
    .discussionList .discussionListItem.sticky {
        background-color: #223742;
        border-color: #000;
    }
    .discussionListItems .unread .title a {
        font-weight: bold;
        color: #75909E;
    }
    .discussionListItem {
        background-color: #223742;
        border-bottom: 1px solid #000;
    }
    .discussionListItems .unread .lastPostInfo .username {
        font-weight: bold;
        color: #C9D5E4;
    }
    .discussionListItem .posterAvatar,
    .discussionListItem .stats {
        background-color: #223742;
    }
    .discussionListItem .stats dl {
        padding: 0px 10px;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }
    .sectionFooter {
        background-color: #75909E;
        border-bottom: 0px solid #E2E2E2;
    }
    .messageList .message {
        background-color: #283E49;
        border: 0px solid #E2E2E2;
    }
    .message .likesSummary {
        color: #E3E3E3;
        background-color: #395565;
    }
    .messageUserBlock div.avatarHolder {
        background-color: #283E49;
        border-radius: 0px 0px 0px 0px;
    }
    .bbCodeQuote .attribution {
        background-color: #344D5D;
        color: #D9DFE3;
    }
    .bbCodeQuote .quoteContainer {
        background-color: #344D5D;
    }
    .messageUserBlock {
        border: 0px solid #000;
    }
    .messageUserBlock h3.userText {
        background-color: #344D5D;
    }
    .messageUserBlock .extraUserInfo {
        background-color: #344D5D;
    }
    .messageUserBlock .arrow span {
        -moz-border-left-colors: #283E49;
    }
    .userBanner.bannerStaff {
        background: #DE8E15 none repeat scroll 0% 0%;
    }
    .discussionList .sectionHeaders {
        background-color: #2A414C;
    }
    a:link,
    a:visited {
        color: #ACD2E5;
    }
    #navigation {
        background: transparent none repeat scroll 0% 0%;
    }
    .pollBlock .question .questionText {
        color: #61ACB9;
    }
    .breadcrumb .crust:last-child a.crumb {
        color: #BCC4C6;
    }
    .breadcrumb {
        background-color: #2A424D;
    }
    .breadcrumb .crust .arrow span {
        border-color: transparent #000 transparent #395565;
    }
    .messageUserBlock div.avatarHolder .onlineMarker {
        background-color: lightgreen;
    }
    .messageUserBlock div.avatarHolder .onlineMarker_pulse {
        border: 10px solid lightgreen;
    }
    .breadcrumb .crust .arrow {
        border-color: transparent #000 transparent #2A424D;
    }
    .secondaryContent a {
        color: #ACD2E5 !important;
    }
    .node.level_2:first-child .nodeInfo {
        border-radius: 0px 0px 0px 0px;
    }
	 .larger.textHeading {
				color:lightblue;
}
	
	.uix_icon-sitemap {
color:lightblue;
}
	
	.forum_list .nodeList .nodeList, .forum_view .nodeList, .category_view .nodeList, .watch_forums .nodeList {
	background: transparent none repeat scroll 0% 0%;
	
	border-radius: 0px;
}
#QuickSearch .formPopup .secondaryControls {
	
	background: #2A424D none repeat scroll 0% 0%;
	color: #C8C8C8;

}
	.messageUserBlock .arrow {

	-moz-border-left-colors: lightblue;
}
	.PageNav a.currentPage {
	color: #000;
	background-color: #78A6BD;
	border-color: #2B2E4A;
	position: relative;
}
	.PageNav a {


	background-color: #2A424D;
	
	border: 0px solid rgb(236, 241, 245);
}
	.message .newIndicator {
	
	color: #0E0E0E;
	background-color: #78A6BD;
	
}
	#uix_footer_columns .pageContent {
	
	background-color: #223742;
	
}
	
	.adCopyrightNoticeStyle:after{
content: " Thème Bleu Sombre 2.0 par CobaltTeam, Baldriksen, Astequ, Ruvaak, Pyraah, Diagamma et ajen003.";
text-decoration: inherit ;
color: inherit ;
}
	#uix_jumpToFixed {
background-color:lightblue;
}
	.message .messageMeta .control, .footer .choosers a{
border: 0px solid green;
background-color:lightblue;
color:#000;
}
}
